<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$title}</title>
    <link rel="stylesheet" href="{$smarty.const.__ROOT__}/rs/css/pure.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->
    <style>

    </style>
</head>
<body>
<div id="layout">
    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="/console">Company</a>

            <ul class="pure-menu-list">
                {foreach $type as $data}
                    <li class="pure-menu-item {$data['alias']}" data-alias="{$data['alias']}">
                        <a href="#{$data['alias']}" class="pure-menu-link">{$data['name']}</a>
                        <span class="label" style="display: none;">0</span>
                    </li>
                {/foreach}
            </ul>
        </div>
    </div>
    <div id="main">
        {foreach $type as $data}
            <div class="{$data['alias']}" data-alias="{$data['alias']}">
                {foreach $list[$data['id']] as $dish}
                <div class="f-cb item-info dish_{$dish['id']}" data-id="{$dish['id']}" data-price="{$dish['price']}">
                    <div class="f-fl img"><img src="{$dish['img']}" width="100" height="100" /></div>
                    <div class="f-fl">{$dish['name']}</div>
                    <div class="f-fr f-cb item-console"><a class="remove-food" onclick="dishAdd({$dish['id']}, -1)">-</a> <span class="item-count">0</span> <a class="add-food" onclick="dishAdd({$dish['id']}, 1)">+</a></div>
                    <div class="f-fr">{$dish['price']}</div>
                </div>
                {/foreach}
            </div>
        {/foreach}
    </div>
    <div style="height: 50px;"></div>
</div>
<div id="cart">
    <form action="/index/preview" method="post">

    </form>
    <div class="cart">

    </div>
    <div class="cart-btns">
        <button class="pure-button pure-button-primary">
            <i class="fa fa-shopping-cart"></i> <b class="quantity">0</b>份 <b class="price">0</b>元
        </button>
    </div>

</div>

<script src="/rs/js/jquery.js"></script>
<script>
    $(function(){
        $(".pure-menu-item").click(function(){
            var me = $(this);
            $("#main > div").css('display', 'none');
            $("#main > ."+me.data('alias')).css('display', 'block');
            $(".pure-menu-item").removeClass("pure-menu-active");
            me.addClass("pure-menu-active");
        });

        if(window.location.hash){

            $(".pure-menu-item."+window.location.hash.substr(1)).click();
        }else{
            $(".pure-menu-item").first().click();
        }

        $(".cart-btns").click(function(){
            if($("form").serialize() == ''){
                alert('还没点餐哟');
                return false;
            }

//            $.ajax({
//                type: 'POST',
//                url: "/index/submit",
//                data: $("form").serialize(),
//                dataType: "json",
//                success: function(json){
//                    //alert();
//                }
//            });

            window.localStorage.setItem('dish', $("form").serialize());
            $("form").submit();
        });

        //初始化购物车
        if(window.localStorage.dish){
            var dish = window.localStorage.dish.split('&');
            for(var i = 0;i < dish.length; i++){
                console.log([dish[i].split('=')[0], dish[i].split('=')[1]]);
                dishAdd(dish[i].split('=')[0], dish[i].split('=')[1])
            }
        }

    });

//    window.addEventListener("hashchange", function(){
//        var hash = location.hash.substr(1);
//        if(hash == '') return;
//
//        $("#main > div").css('display', 'none');
//        $("#main > ."+hash).css('display', 'block');
//
//        $(".pure-menu-item").removeClass("pure-menu-active");
//        $(".pure-menu-item."+hash).addClass("pure-menu-active");
//    });

    var quantity = $(".cart-btns .quantity");
    var price = $(".cart-btns .price");

    function dishAdd(id, num){
        var node = $(".dish_" + id);
        var count = Number(node.find(".item-count").text());
        var form_id = "dish_"+node.data("id");
        var name = node.data("id");
        num = Number(num);
        if(count <= 0 && num <= 0){
            return;
        }

        if(document.getElementById(form_id)){
            $("#cart > form > #"+form_id).val(count + num);
        }else{
            $("#cart > form").append($("<input type='hidden' value='"+num+"' name='"+name+"' id='"+form_id+"'>"));
        }

        node.find(".item-count").html(count + num);
        $(".cart-btns .quantity").text(Number(quantity.text()) + num); //总数量
        $(".cart-btns .price").text((Number(price.text()) + Number(node.data("price")) * num).toFixed(2)); //价格

        //更新label数字
        var label = $(".pure-menu-item."+node.parent().data('alias')+" span.label");
        var label_num = Number(label.text()) + num;
        label.text(label_num);
        if(label_num <= 0){
            label.hide();
        }else{
            label.show();
        }
    }
</script>
</body>
</html>