<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$title}</title>
    <link rel="stylesheet" href="{$smarty.const.__ROOT__}/rs/css/pure.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->
    <style>

    </style>
</head>
<body>
    <div id="main">
        <table class="pure-table pure-table-horizontal" style="width: 100%">
            <thead>
            <tr>
                <th>名称</th>
                <th>价格</th>
                <th>份数</th>
                <th>合计</th>
            </tr>
            </thead>
            <tbody>
            {foreach $list as $data}
            <tr>
                <td>{$data['name']}</td>
                <td>{$data['price']}</td>
                <td>{$data['quantity']}</td>
                <td>{$data['total']}</td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        <form class="pure-form pure-g">
            <fieldset class="pure-group"  style="margin: 20px auto;">
                <select id="table_num" class="pure-input-1-2">
                    <option>桌号</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <select id="customer_num" class="pure-input-1-2">
                    <option>人数</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <textarea class="pure-input-1" name="desc" id="desc" placeholder="备注"></textarea>

            </fieldset>
        </form>
    </div>
    <div style="height: 50px;"></div>

<div id="cart">
    <form action="{$smarty.const.__ROOT__}/index/submit" method="post">

    </form>
    <div class="cart">

    </div>
    <div class="cart-btns">
        <button class="pure-button pure-button-primary">
            确认订单 <b class="quantity">{$quantity}</b>份 <b class="price">{$total}</b>元
        </button>
    </div>
    <div class="back-btns">
        <button class="button-secondary pure-button" onclick="javascript:window.history.back(-1); return false;">
            返回修改
        </button>
    </div>

</div>

<script src="{$smarty.const.__ROOT__}/rs/js/jquery.js"></script>
<script>
    $(function(){
        $(".cart-btns .pure-button").click(function(){
            var me = $(this);
            var customer_num = $("#customer_num").val(), table_num = $("#table_num").val(),desc = $("#desc").val();
            me.attr('disabled', true);
            $.ajax({
                type: 'POST',
                url: "{$smarty.const.__ROOT__}/index/submit",
                data: "desc="+desc+"&table_num="+table_num+"&customer_num="+customer_num+"&"+window.localStorage.getItem('dish'),
                dataType: "json",
                success: function(json){
                    me.attr('disabled', false);
                    window.localStorage.clear();
                    alert('点餐成功');
                    window.location.href = '/';
                }
            });
        });
    });

</script>
</body>
</html>